/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



// TODO - cross browser compatibility and email/passoword validation

// Colors 
$primary-color: #085382;
$secondary-color: #434143;
$warning-color: #D0021B;
$light-grey: #D2D2D4;
$tx-gradient: linear-gradient($light-grey,$primary-color);
// Typography 
$header-font-stack: 'Marker Felt', Helvetica;
$p-font-stack: 'Lucida Grande', Helvetica;
$light: 100;
$regular: 400;
$bold: 600;
$h1: 40pt;
$h2: 32pt;
$h3: 24pt;
$h4: 20pt;
$h5: 16pt;
// Visuals 
$primary-border-radius: 5px;
$padding: 8px;
@mixin gradient-animation( $start, $end, $deg, $transTime ){
    background-size: 100%;
    background-image: linear-gradient($deg,$start, $end);
    position: relative;
    z-index: 100;
    &:before {
        border-radius: inherit;
        background-image: linear-gradient($deg,$end, $start);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity $transTime;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    &:focus {
        background-color: $primary-color;
        &:before {
            opacity: 0;
        }
    }
}
.themed-input {
    padding: 8px;
    border-radius: $primary-border-radius;
    border: 1px solid $primary-color;
    &:invalid {
        box-shadow: 0px 0px 10px $warning-color;
        border: none;
    }
    &:focus {
        box-shadow: 2px 2px 2px $primary-color;
    }
    transition: all 0.3s ease-in-out;
}
.themed-label {
    font-family: $p-font-stack;
    color: $secondary-color;
    margin-bottom: 8px;
}

.error {
    box-shadow: 0px 0px 3px $warning-color;
    border: none;
}

// Layouts 
.grid-form-with-header {
    display: grid;
    grid-template-areas:
        "   header header header   header"
        "   form    form  form     form   "
        "  form    form  form     form "
        "  form    form  form     form "
;
}
.grid-home {
    grid-template-areas:
        "   menu menu menu  menu"
        "   content content content content   "
        "   content content content content  "
        "   footer footer footer footer  "
;
}
// layout modules 
.grid-form {
    display: grid;
    grid-area: form;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
// Layout Modifiers
.full {
    grid-column: 1/-1;
}
.center {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.form-content-half {
    grid-column: span 2;
    input {
        width: 80%;
    }
    label {
        width: 100%;
    }
}
// Modules
.form {
    padding: $padding;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px $secondary-color;
    input {
        margin-bottom: 12px;
    }
}
.header {
    margin-bottom: 5vh;
    margin-top: 16px;
    grid-area: header;
}

// This mixin includes all the general styles for components; it sets the theme of our website 
@mixin themed($primary-color,$secondary-color,$header-font-stack,$p-font-stack) {
   h1,h2,h3,h4,h5,header {
        color: $primary-color;
        font-family: $header-font-stack;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
    h4 {
        font-size: $h4;
    }
    h5 {
        font-size: $h5;
    }
    p {
        color: $secondary-color;
        font-family: $p-font-stack;
    }
}
body {
    @include themed($primary-color, $secondary-color,$header-font-stack,$p-font-stack);
}

@mixin btn-nrml ($size,$background) {
    padding: 8px 32px;
    margin: 16px;
    border-radius: $primary-border-radius;
    cursor: pointer;
    border: none;
    color:  white;
    font-family: $header-font-stack;
    font-size: $size * 1pt ;
    // Use unquote to denote optional property
    background: unquote($background);
    &:focus {
        outline: none;
        border: none;
    }
}

@mixin lgnfrm {
    grid-area: form;
    border-radius: $primary-border-radius;
    background-color: white;
    filter: drop-shadow(0px 0px 3px $secondary-color); 
    margin: 8px;
    padding: 8px;
}

.container {
    display: grid;
    grid-template-areas:
        "   header header header   header"
        "   form    form  form     form   "
        "  form    form  form     form "
        "  form    form  form     form "
    
;
}

.grdnt-btn {
    @include btn-nrml(12,"");
    @include gradient-animation($primary-color,$light-grey,90deg,0.5s);
    justify-self: center;
    &:focus {
        background: $primary-color;
    }
}




// See mixins frmgrd and lgnfrm for styles
.hmlgnfrm {
    @include lgnfrm();
}



@media(max-width: 600px) {
    #lgnhdr {
        font-size: 24pt;
    }

    .lgnfrm {
        width: 90vw;
    }
}



// The code above is legacy - will transition over to organized CSS below this comment 

